<%- include('partials/header.ejs') %>
<script>
    var socket = io();
    socket.on('response', function(data){
        $('#console').append("<p>" + data + "</p>");
        var d = $('#console');
        d.scrollTop(d.prop("scrollHeight"));
    });
    function getstatus(){
        socket.emit('retakestatus');
    }
    function startretakestream(){
        socket.emit('startretakestream');
    }
    function stopretakestream(){
        socket.emit('stopretakestream');
    }
</script>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-lock"></span> Administration Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-md-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Your Information</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

            </div>
            <div class="well">
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <h3><span class="fa fa-user"></span> Database Commands</h3>
                <a href="/admin/deleteinactive" class="btn btn-warning" role="button">Delete Inactive Users</a>
                <a href="/admin/antisquater" class="btn btn-warning" role="button">Run Anti-Squater</a>
            </div>
            <div class="well">
                <h3><span class="fa fa-user"></span> Retakes #1 Control</h3>
                <a onclick="getstatus()" class="btn btn-warning" role="button">Get Status Of Retakes</a>
                <a onclick="startretakestream()" class="btn btn-warning" role="button">Start Retake Stream</a>
                <a onclick="stopretakestream()" class="btn btn-warning" role="button">Stop Log Stream</a>
                <br /><br />
                <h4 style="font-size: 15px">Output Console</h4>
                <div class="well" id="console" style="width: 100%; height:300px; overflow-y: auto; background-color: black; color:greenyellow !important">

                </div>


            </div>
        </div>

    </div>

</div>
</body>
</html>