<!--Create a modal that is triggered from a button that displays basic commands such as the say commands for SM
https://forums.alliedmods.net/showthread.php?t=56764-->
<%- include('partials/header.ejs') %>
<script src="js/serverconsole.js"></script>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-lock"></span> Administration Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-md-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Your Information</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

            </div>
            <div class="well" id="db">

                <h3><span class="fa fa-user"></span> DB Maintenance</h3>

                <% if (message.length > 0) { %>
                <br/>
                <div class="alert alert-success" style="margin: 5px"><%= message %></div>
                <% } %>
                <div class="panel-body">
                    <a href="/admin/deleteinactive" class="btn btn-warning" role="button">Delete Inactive Users</a>
                    <a href="/admin/antisquater" class="btn btn-warning" role="button">Run Anti-Squater</a>
                </div>
            </div>
            <div class="well">
                <h3><span class="fa fa-bolt"></span> Server Control Panel</h3>
                <button data-toggle="collapse" data-target="#retake" class="btn btn-danger">Retakes Console</button>
                <button data-toggle="collapse" data-target="#multi" class="btn btn-danger">Multi 1v1 Console</button>
            </div>

            <div class="panel panel-danger collapse" id="retake">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 30px"><span class="fa fa-user"></span> Retakes #1 Control
                        Console</h3>
                </div>
                <div class="panel-body">
                    <a onclick="getstatus()" class="btn btn-warning" role="button">Get Status Of Retakes</a>
                    <a onclick="startretakestream()" class="btn btn-warning" role="button" id="r1">Start Log Stream</a>
                    <a onclick="stopretakestream()" class="btn btn-warning" role="button" id="r2">Stop Log Stream</a>
                    <br/><br/>
                    <h4 style="font-size: 15px">Output Console</h4>
                    <div class="well" id="console"
                         style="width: 100%; height:300px; overflow-y: auto; background-color: black; color:greenyellow !important">

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Custom Commands</label>
                        <input class="form-control" id="retakeinput" type="text" value="sm_say Hai Guys">
                        <a href="javascript:void(0)" id="sendrconone" class="btn btn-success" style="margin-right:5px;">Send</a>
                        <a href="#rconTips" role="button" class="btn btn-info" data-toggle="modal">Rcon Commands Help</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger collapse" id="multi">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 30px"><span class="fa fa-user"></span> Multi-1v1 #1
                        Control
                        Console</h3>
                </div>
                <div class="panel-body">
                    <a onclick="getstatustwo()" class="btn btn-warning" role="button">Get Status Of Multi1v1</a>
                    <a onclick="start1v1stream()" class="btn btn-warning" role="button" id="m1">Start Log Stream</a>
                    <a onclick="stop1v1stream()" class="btn btn-warning" role="button" id="m2">Stop Log Stream</a>
                    <br/><br/>
                    <h4 style="font-size: 15px">Output Console</h4>
                    <div class="well" id="consoletwo"
                         style="width: 100%; height:300px; overflow-y: auto; background-color: black; color:greenyellow !important">

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Custom Commands</label>
                        <input class="form-control" id="multiinput" type="text" value="status"><a href="javascript:void(0)"
                                                                                                             class="btn btn-success" id="sendrcontwo">Send</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div id="rconTips" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Basic Sourcemod Commands:</h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <p>For a comprehensive sourcemod commands list: <a href="https://wiki.alliedmods.net/Admin_commands_(sourcemod)">Here</a></p>
                </div>
                <div class="well">
                <ul><li>sm_say &lt;message&gt;<ul><li>Message is sent to all players in the Chat window.</li>
                        </ul></li>
                    <li>sm_chat &lt;message&gt;<ul><li>Message is sent to all admins in the Chat window.</li>
                        </ul></li>
                    <li>sm_csay &lt;message&gt;<ul><li>Message is sent to all players in the center of the screen</li>
                        </ul></li>
                    <li>sm_hsay &lt;message&gt;<ul><li>Message is sent to all players as a hint message</li>
                        </ul></li>
                    <li>sm_tsay [color] &lt;message&gt;<ul><li>Message is sent to all players as a dialog in the top left, colored white by default.</li>
                            <li>Allowed colors: White, Red, Green, Blue, Yellow, Purple, Cyan, Orange, Pink, Olive, "Lime, Violet, Lightblue</li>
                        </ul></li>
                    <li>sm_psay &lt;target&gt; &lt;message&gt;<ul><li>A messge is privately sent to the target.</li>
                        </ul></li>
                    <li>sm_msay &lt;message&gt;<ul><li>Sends a message to every as a menu panel. Use \n for new lines.</li>
                        </ul></li>
                    <li>say @message<ul><li>Using standard chat, this is a shortcut for sm_say</li>
                        </ul></li>
                    <li>say @@target message<ul><li>Using standard chat, this is a shortcut for sm_psay</li>
                        </ul></li>
                    <li>say @@@message<ul><li>Using standard chat, this is a shortcut for sm_csay</li>
                        </ul></li>
                    <li>say_team @message<ul><li>Using the team chat, this is a shortcut for sm_chat</li>
                        </ul></li>
                </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>