<%- include('partials/header.ejs') %>
<div class="container" style="margin-top: 25px;">
    <div class="col-md-4">
        <div class="dashboard-stat red-intense" align="center" style="border-width: 5px; border-style: solid">
            <div class="visual">
                <i class="fa fa-users"></i>

            </div>
            <div class="details">
                <div class="number">
                    <%= online %>
                </div>
                <div class="desc">
                    Players Online (in past 2 hours)
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboard-stat red-intense" align="center" style="border-width: 5px; border-style: solid">
            <div class="visual">
                <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="details">

                <div class="number">
                    <%= server1.raw.numplayers %> / <%= server1.maxplayers %>
                </div>
                <div class="desc">

                    <a href="/servers" style="color:white; text-decoration: underline">1v1 MULTI-ARENAS #1</a>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboard-stat red-intense" align="center" style="border-width: 5px; border-style: solid">
            <div class="visual">
                <i class="fa fa-cloud-upload"></i>

            </div>
            <div class="details">
                <div class="number">
                    <%= server2.raw.numplayers %> / <%= server2.maxplayers %>
                </div>
                <div class="desc">
                    <a href="/servers" style="color:white; text-decoration: underline">Competitive Retakes #1</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Notice:</strong> Please consider donating a $1.50 to help support our servers and ongoing
            development costs. You will receive slot reservation and cool chat colors with the words [VIP] next to your
            name! <a href="#" class="alert-link">Click here to donate</a>.
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading" align="center"><h4>Top 10 Players by Rank (Active in 30 days)</h4></div>
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Rating</th>
                    <th>Last Date</th>
                    <th></th>
                </tr>
                </thead>
                <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <th><%= i + 1 %></th>
                    <th id="link<%= i %>"><a
                                href="https://steamcommunity.com/profiles/<%= data[i].auth %>/"><%= data[i].name %></a>
                    </th>
                    <th><%= data[i].wins %></th>
                    <th><%= data[i].losses %></th>
                    <th><%= data[i].rating %></th>
                    <th><%= new Date(data[i].lastTime * 1000) %></th>
                    <th><a href="/profile/<%= data[i].name %>">View More</a></th>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <div class="col-md-12" id="profile">
        <div class="panel panel-danger" id="clicked">
            <div class="panel-heading" align="center"><h4>Top 10 Bottom Players (All time)</h4></div>
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Rating</th>
                    <th>Last Date</th>
                    <th></th>
                </tr>
                </thead>
                <% for(var i = 0; i < data.length; i++) { %>
                <tr>

                    <th><%= i + 1 %></th>
                    <th id="link<%= i %>"><a
                                href="https://steamcommunity.com/profiles/<%= player[i].auth %>/"><%= player[i].name %></a>
                    </th>
                    <th><%= player[i].wins %></th>
                    <th><%= player[i].losses %></th>
                    <th><%= player[i].rating %></th>
                    <th><%= new Date(player[i].lastTime * 1000) %></th>
                    <th><a href="/profile/<%= player[i].name %>">View More</a></th>
                </tr>
                <% } %>
            </table>

        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
