<%- include('partials/header.ejs') %>
<div class="container" style="margin-top: 25px;">

    <div class="col-md-12" id="profile">
        <div class="panel panel-danger" id="clicked">
            <div class="panel-heading" align="center"><h4><%= data[0].name %>'s Profile</h4></div>
            <div class="media">
                <div class="media-left" style="padding-left: 5px">
                    <a href="https://steamcommunity.com/profiles/<%= data[0].auth %>/">
                        <img src="<%= data[0].imageurl %>">
                    </a>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="https://steamcommunity.com/profiles/<%= data[0].auth %>/"><%= data[0].name %></a>
                    </h4>

                    <p>Wins: <%= data[0].wins %></p>

                    <p>Loses: <%= data[0].losses %></p>

                    <p>Rating: <%= data[0].rating %></p>

                    <p>Last Played: <%= new Date(data[0].lastTime * 1000) %></p>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>
